@model wwdapp.Models.QueryEvent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>QueryEvent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactInformation.Phone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactInformation.Phone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QueryStatu.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QueryStatu.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QueryType.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QueryType.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
