@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="col-md-9">
        <h1>White Wave Digital</h1>
        <p class="lead">Covering your digital assets since 1993.</p>
        <p><a href="http://www.whitewavedigital.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
    <img src="@Url.Content("~/Content/ww-logo.png")" alt="Logo" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tickets</h2>
        <p>
            Create, View and Edit Tickets and Support Events.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Tickets")">Open Tickets &raquo;</a></p>
        <p><a class="btn btn-default" href="@Url.Action("Create", "Tickets")">Create a Ticket &raquo;</a></p>
        <p><a class="btn btn-default" href="@Url.Action("ClosedIndex", "Tickets")">Closed Tickets &raquo;</a></p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Procedures")">Procedures &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Accounts</h2>
        <p>Create, View and Edit customer Account information.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "AccountWWD")">View Accounts &raquo;</a></p>
        <p><a class="btn btn-default" href="@Url.Action("Create", "AccountWWD")">Create an Account &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>