@model IEnumerable<wwdapp.Models.Ticket>

@{
    ViewBag.Title = "Closed Tickets";
}

<h2>Closed Ticket Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateOpened)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateClosed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account.Name)
        </th>
        <th>
            @Html.Label("Employee")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority.Priority1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketStatu.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateOpened)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateClosed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.NameFull)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Priority.Priority1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketStatu.Status)
        </td>
        <td>
            @Html.ActionLink("Details", "ClosedDetails", new { id = item.Id })
        </td>
    </tr>
}

</table>
