@model wwdapp.Models.SoftwareInstallation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SoftwareInstallation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoftwareName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LicenseStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicenseStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LicenseEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicenseEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MachineInstalledOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MachineInstalledOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
