@model IEnumerable<wwdapp.Models.Item>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcquisitionEvent.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryMade.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemStatu.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemType.ItemType1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AcquisitionEvent.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryMade.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemStatu.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemType.ItemType1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
